<template>
  <div>
    <div>
      <input type="file" ref="file" />
      <button @click="saveFileToDB" ref="upload">Upload</button>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted } from "vue";

const addedData = ref(null);
const file = ref(null);
const dbName = "PSGDataSource";

function formatToBlob(file) {
  return new Promise((resolve, reject) => {
    const reader = new FileReader();
    reader.onload = () => {
      const blobData = new Blob([reader.result], { type: file.type });
      console.log("Success Create Blob");
      resolve(blobData);
    };
    reader.onerror = (error) => {
      console.log("Error Creating Blob");
      reject(err);
    };
    reader.readAsArrayBuffer(file);
  });
}
const saveFileToDB = async (event) => {
  const fileToAdd = file.value.files[0];
  const blob = await formatToBlob(fileToAdd);
  console.log(blob);
  const request = indexedDB.open(dbName, 2);

  request.onerror = (event) => {
    console.error("Error opening database:", event.target.error);
  };

  request.onupgradeneeded = (event) => {
    const db = event.target.result;
    db.createObjectStore("files", {
      keyPath: "id",
      autoIncrement: true,
    });
  };

  request.onsuccess = (event) => {
    const db = event.target.result;
    const addTransaction = db.transaction(["files"], "readwrite");
    const fileObjectStore = addTransaction.objectStore("files");

    const addRequest = fileObjectStore.add({ data: blob });

    addRequest.onsuccess = (event) => {
      console.log("Data added successfully");
      addedData.value = "Yes";
    };

    addRequest.onerror = (event) => {
      console.error("Error adding data", event.target.error);
      addedData.value = "No";
    };

    addTransaction.oncomplete = () => {
      console.log("Add transaction completed");
      db.close();
    };
  };
};
</script>
