<script setup>
import HelloWorld from "./components/HelloWorld.vue";
import ReloadPrompt from "./components/ReloadPrompt.vue";
import FetchPoke from "./components/FetchPokemon.vue";
// import FetchUser from "./components/FetchUser.vue";
// import RequestArticle from "./components/RequestArticle.vue";
// import CacheButton from "./components/CacheButton.vue";
// import IndexDB from "./components/IndexDB.vue";
import IndexDBTask from "./components/tasks/IndexDBTask.vue";
</script>

<template>
  <h1>Training Vue</h1>
  <!-- <FetchPoke /> -->
  <!-- <FetchUser/> -->
  <!-- <RequestArticle/> -->
  <!-- <CacheButton/> -->
  <!-- <IndexDB /> -->
  <IndexDBTask />
  <div>
    <a href="https://vitejs.dev" target="_blank">
      <img src="/vite.svg" class="logo" alt="Vite logo" />
    </a>
    <a href="https://vuejs.org/" target="_blank">
      <img src="./assets/vue.svg" class="logo vue" alt="Vue logo" />
    </a>
  </div>
  <HelloWorld msg="Vite + Vue" />
  <ReloadPrompt />
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
